<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Example</title>
    <script src="https://unpkg.com/htmx.org"></script> <!-- Load HTMX -->
</head>
<body>

<button hx-post="/action" hx-swap="beforeend" hx-target=".bookdiv">
    Send Email
</button>

<div class="bookdiv"></div>

  <div id="response"></div>

  <div hx-confirm="Are you sure?">
    <button hx-delete="/account">
        Delete My Account
    </button>
    <button hx-put="/account">
        Update My Account
    </button>
   
    
</div>
<button hx-post="/poost"
        hx-vals='{
        "email": "htmxceo@x.com"
    }'>
    Submit
</button>

</body>
</html>