<!-- Charts View -->
<div id="charts-content">
    <div class="row">
        <div class="col-6">
            <div class="chart-placeholder">*Chart</div>
        </div>
        <div class="col-6">
            <div class="chart-placeholder">*Chart</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="chart-placeholder">*Chart</div>
        </div>
        <div class="col-6">
            <div class="chart-placeholder">*Chart</div>
        </div>
    </div>
</div>